* {
  box-sizing: border-box;
}

body {
  background-image: url(../images/Фон\ 1.png);
  background-size: 100%;
  background-repeat: no-repeat;
  font-family: "Ubuntu", sans-serif;
}

.wrapper {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

header {
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nav {
  display: flex;
  justify-content: space-between;
  height: 58px;
  align-items: center;
  color: #fff;
}

.navigation {
  display: flex;
  width: 347px;
  justify-content: space-between;
}

.images {
  display: flex;
  justify-content: space-between;
  width: 120px;
  margin-bottom: 0%;
  align-items: center;
}

.journey {
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  text-transform: uppercase;
  transition: 0.3s;
}

.journey:hover {
  color: #01813f;
}

.welcome {
  font-size: 14px;
  line-height: 14px;
}

.welcome span {
  transition: 0.3s;
}

svg path {
  transition: 0.3s;
}

svg path:hover {
  fill: #01813f;
}

.welcome span:hover {
  color: #01813f;
}

main {
  width: 445px;
  padding: 21px 60px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  margin-top: 54px;
  margin-bottom: 74px;
  position: relative;
}

main::before {
  content: "";
  width: 18px;
  height: 18px;
  background-color: #3cb878;
  position: absolute;
  left: 0;
  top: 41pxd;
}

.sign-up {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sign-up h3 {
  font-size: 20px;
  line-height: 20px;
}

.sign-up p {
  font-size: 14px;
  line-height: 14px;
  color: #3cb878;
  transition: 0.3s;
}

.sign-up p:hover {
  text-decoration: underline;
  color: #01813f;
  cursor: pointer;
}

.social-button {
  width: 160px;
  height: 48px;
  position: relative;
}

.social-button::after {
  content: "";
  height: 28px;
  width: 1px;
  background-color: #2b0d09;
  opacity: 0.1;
  display: block;
  position: absolute;
  left: 55px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.facebook {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #305db8;
  border-width: 0;
  color: #fff;
  border-radius: 5px;
  padding-left: 19px;
  padding-right: 19px;
  transition: 0.3s;
}

.facebook:hover {
  background-color: #022263;
  cursor: pointer;
}

.google {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #df4a32;
  border-width: 0;
  color: #fff;
  border-radius: 5px;
  padding-left: 19px;
  padding-right: 19px;
  transition: 0.3s;
}

.google:hover {
  background-color: #ab1f09;
  cursor: pointer;
}

.or {
  display: flex;
  text-align: center;
  color: #848484;
  font-size: 14px;
  line-height: 14px;
}

.or:before {
  content: "";
  width: 154px;
  height: 1px;
  border-bottom: #848484 solid 1px;
  display: block;
  position: relative;
  margin-top: 6px;
  margin-right: 2px;
  opacity: 70%;
}

.or:after {
  content: "";
  width: 154px;
  height: 1px;
  border-bottom: #848484 solid 1px;
  display: block;
  position: relative;
  margin-top: 6px;
  margin-left: 2px;
  opacity: 70%;
}

input {
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  width: 324px;
  height: 44px;
  transition: 0.1s;
}

input:focus {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
  outline: none;
}

.input-table {
  margin-bottom: 15px;
}

.input-checkbox {
  width: 20px;
  height: 20px;
}

.check {
  display: flex;
  align-items: center;
  font-family: "Ubuntu";
}

.check p {
  margin-left: 11px;
  font-size: 14px;
  line-height: 14px;
}

.check-span {
  color: #3cb878;
  transition: 0.3s;
}

.check-span:hover {
  color: #01813f;
  text-decoration: underline;
  cursor: pointer;
}

.create-acc {
  width: 324px;
  height: 46px;
  background: rgba(60, 184, 120, 0.8);
  border-radius: 4px;
  border: 0;
  color: #fff;
  margin-bottom: 38px;
  margin-top: 28px;
  transition: 0.3s;
}

.create-acc:hover {
  background-color: #01813f;
  cursor: pointer;
}
